{% extends 'portfolio/layout.html' %}

{% block title %}MeByMe{% endblock %}

{% block content %}

    <div class="about">
        <div class="container">
            <h1 class="subtitle">About Me</h1>
            <section class="about-me-section">
                <h2>Sobre mim</h2>
                <p>Chamo-me Daniel, tenho 21 anos e estou atualmente a estudar engenharia informática.</p>
                <p>Desde criança que tenho interesse nas àreas de engenharia, tendo começado por estudar mecanismos, e de seguida hardware, o que me levou a começar a estudar programação.</p>
                <p>Ainda antes de entrar na universidade para seguir informática, programei em python para fazer cálculos matemáticos, e um pouco de estilismo e scripts em programação web </p>
            </section>

            <section class="skills-section">
                <h3>Competências</h3>
                <ul>
                    <li><strong>Linguaguens</strong> Kotlin, Java, C, Python, C++, C#, Python, Django, HTML, CSS, JavaScript</li>
                    <li><strong>Gestão de Base de Dados:</strong> SQL, SQL Server, Pentaho </li>
                    <li><strong>Ferramentos de desenvolvimento:</strong> IntelliJ IDEA, Visual Studio Code, Docker, Azure Data Studio, Pythonanywhere </li>
                    <li><strong>Controlo de versões:</strong> Github</li>
                </ul>
            </section>

            <section class="education-section">
                <h3>Educação</h3>
                <p><strong>Universidade Lusófona</strong>, Lisboa</p>
                <p><i>Licenciatura em Engenharia Informática</i></p>
                <p><strong>Créditos:</strong> 180 ECTS</p>
                <p><strong>Duração:</strong> 2022-2025</p>
            </section>
        </div>
    </div>

{% endblock %}