{% extends 'portfolio/layout.html' %}
{% load static %}

{% block title %}Sobre o Website{% endblock %}


{% block content %}
    <div class="video-container">
    <div>
        <h2>Django hands-on</h2>
        <video width="320" height="240" controls>
            <source src="{% static 'portfolio/videos/django.mp4' %}" type="video/mp4">
            Seu navegador não suporta vídeo.
        </video>
    </div>
    <div>
        <h2>Visita guiada</h2>
        <video width="320" height="240" controls>
            <source src="{% static 'portfolio/videos/site.mp4' %}" type="video/mp4">
            Seu navegador não suporta vídeo.
        </video>
    </div>
</div>
{% endblock %}
